.body {
    background-color: aquamarine;
    display:flex;
    height: 100vh;
    width: 100%;
    
}

.box {
    background-color: bisque;
    width: 500px;
    margin: auto; 
    
    
}
.company {
 display: flex;
  margin: 10px; 
}

 .company img{
  width: 250px;
  height:250px;
}
.company span{
    margin-left: 10px;
    text-align: center;
    padding: 70px 12px;
} 